<div class="content">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12">
     <div class= "card">
      <div class= "header">
        
      <h4 class= "title">All tasks for today</h4>
      <p class= "category">All your features for the day</p>
      </div>
            </div>
     </div>

