<div class="content">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12">
     <div class= "card">
      <div class= "header">
        
      <h4 class= "title">All tasks for today</h4>
      <p class= "category">All your features for the day</p>
      <div class="row">
       <div class="col-md-12">
         
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <% @features.each do |feature|%>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar">
                                                            <img src="/paper-dashboard/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                       <%= feature.title %>
                                                       
                                                    </div>
                                                            


                                                    <div class="col-xs-3 text-right">
                                                        <a href="/projects/<%= feature.project_id %>/project_milestones/<%= feature.id%>" target= "_parent">
                                                        <btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-right"></i></btn>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <% end%>
                                      
                                        </ul>
                            </div>
                       
       </div>
      </div>
      </div>
       </div>
     </div>



