


<div class="content">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12">
     <div class= "card">
      <div class= "header">
        
      <h4 class= "title text-center">All your conversations</h4>
      <p class= "category text-center">Your personal inbox</p>
      <hr>
      </div>
      <div class="row">
       <div class="col-md-12">
         
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                   
                                            <li>
                                                <div class="row">
                                                    
                                                    <div class="col-md-12">
                                                       <div id="conversations">
                                                         <%= render @conversations %>
                                                        </div>
                                                                                                               
                                                     </div>
                                                            


                                                   
                                                </div>
                                            </li>
                                           
                                      
                                        </ul>
                            </div>
                       
       </div>
      </div>
      </div>
       </div>
     </div>



