
       

<div class="content">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12">
     <div class= "card">
      <div class= "header">
        
      <h4 class= "title text-center">Blue Prints</h4>
      <p class= "category text-center">All your created projects</p>
      <hr>
      </div>
      <div class="row">
       <div class="col-md-12">
         
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <% @projects.each do |project|%>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar">
                                                            <img src="/paper-dashboard/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                      <%= project.repo_name %>
                                                       
                                                    </div>
                                                            


                                                    <div class="col-xs-3 text-right">
                                                        <a href="/projects/<%=project.id%>/project_milestones" target= "_parent">
                                                        <btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-right"></i></btn>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <% end%>
                                      
                                        </ul>
                            </div>
                       
       </div>
      </div>
      </div>
       </div>
     </div>



