

       <div class="content">
            <div class="container-fluid">
                <div class="row">
                	 <% @projects.each do |project| %>
                	       <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="/paper-dashboard/assets/img/background.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="/paper-dashboard/assets/img/faces/face-2.jpg" alt="..."/>
                                  <h4 class="title"><%= project.repo_name %><br />
                                     <a href="/projects/<%=project.id%>/project_milestones"><small>@<%= project.repo_name %></small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    <%= project.repo_description %>
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Files</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Used</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                	 <% end %>
              
