
         <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Create Your Feature</h4>
                            </div>
                            <div class="content">
                              

                                <%= form_for  [@project , @project_milestone] do |f| %>
                                <div class="row">
                                    <div class= "col-md-5">
                                        <div class= "form-group">
                                            <label>Feature Name</label>
                                            <%= f.text_field(:title ,  placeholder: "This is what you want to call the feature" , class: "form-control border-input") %>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                               <label>Project Solution</label>
                                                <%= f.text_area(:description, placeholder: "How  do you see yourself using this feature if you were a user", rows: 5  , cols: 5, class:  "form-control border-input") %>
                                            </div>
                                        </div>
                                        
                                            
                                        </div>
                                       
                                       
                                    <div class="text-center">
                                         <%= f.submit 'Create Feature', class: 'btn btn-info btn-fill btn-wd' %>
                                         
                                       
                                    </div>
                                    <div class="clearfix"></div>
                                    </div>
                                    
                                    
                                     
                                    
                                <% end %>
                                