<div class="content">
            <div class="container-fluid">
                <div class="row">
                        
                    <div class="col-lg-10 col-md-10">
                        <div class="card">
                            
                            <div class="header">
                                 <div class="col-xs-3 ">
                                     <% if current_user.user? %>
                                    <a href="/projects/<%= @project.id %>/project_milestones/" target= "_parent">
                                        <% else%>
                                         <a href="/developers" target= "_parent">
                                        <% end %>
                                    <btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-left"></i></btn>
                                    </a>
                                </div>
                                <h4 class="title">Feature Details</h4>
                                <hr>
                               
                            </div>
                            <div class="content">
                                  <div class="row">
                                      <div class="col-lg-8 col-md-8">
                                          <h5 class="title">The Feature Name</h5>
                                          <p class="text-info"><%= @feature.title %></p>
                                      </div>
                                  </div>
                               <div class="row">
                                      <div class="col-lg-8 col-md-8">
                                          <h5 class="title">The Feature Description</h5>
                                          <p class="text-info"><%= @feature.description %></p>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        
    </div>
</div>
