<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/paper-ui-kit/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/paper-ui-kit/assets/img/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Welcome to Korujams</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
	<link href="/paper-ui-kit/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/paper-ui-kit/assets/css/paper-kit.css?v=2.1.0" rel="stylesheet"/>

	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<link href="/paper-ui-kit/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/paper-ui-kit/assets/css/nucleo-icons.css" rel="stylesheet" />

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Korujams</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">-->
                    <!--        <i class="fa fa-twitter"></i>-->
                    <!--        <p class="d-lg-none">Twitter</p>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">-->
                    <!--        <i class="fa fa-facebook-square"></i>-->
                    <!--        <p class="d-lg-none">Facebook</p>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">-->
                    <!--        <i class="fa fa-instagram"></i>-->
                    <!--        <p class="d-lg-none">Instagram</p>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit" target="_blank">-->
                    <!--        <i class="fa fa-github"></i>-->
                    <!--        <p class="d-lg-none">GitHub</p>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a href="#" target="_blank" class="nav-link"><i class="nc-icon nc-touch-i"></i> Documentation</a>-->
                    <!--</li>-->
                    <li class="nav-item">
						<a href=" /users/sign_in" target="_parent" class="btn btn-danger btn-round">Sign In </a>
					</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('/paper-ui-kit/assets/img/antoine-barres.jpg')">
            <div class="filter"></div>
    		<div class="content-center">
    			<div class="container">
    			    <div class= " hidden-xs">
    			        	<div class="title-brand">
    					<h1 class="presentation-title">Korujams</h1>
    					<div class="fog-low">
    						<img src="/paper-ui-kit/assets/img/fog-low.png" alt="">
    					</div>
    					<div class="fog-low right">
    						<img src="/paper-ui-kit/assets/img/fog-low.png" alt="">
    					</div>
    				</div>

    				<h2 class="presentation-subtitle text-center hidden-xs">Your Online Rails web workshop , let us build your next web app </h2>
    			</div>
    			        
    			    </div>
    			
    		</div>
            <div class="moving-clouds" style="background-image: url('/paper-ui-kit/assets/img/clouds.png'); ">

            </div>
    		
    	</div>
    	<br>
        <div class="main">
            <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/paper-ui-kit/assets/img/eutah-mizushima-29896-unsplash.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Let us build your next web app</h1>
                <p>Have you ever had an app concept , or while hanging around friends brainstorming you come up with an amazing app idea. Perhaps you have a presentation and you need a creative way to display your content. <br> What ever the case is we are there for you.</p>
                <p>We create model viable products. This means that you can quickly go and test out how market ready  the concept that you have come up with is before investing your life to it. <br> Testing out the concept and also acquiring the all important core users </p>
                <p>We help non technical founders to get their concepts up and running at a low cost of just <strong>R 5000.00 zar</strong> </p>
                <p>We charge <strong>R 1000.00 zar</strong> per feature. <br> Each project in the begining has <strong>5 features</strong></p>
                <a class="btn btn-primary btn-lg" href="/users/sign_up">Create Your First Web App</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <h1>Build your next web app in 3 easy steps </h1>
                     
                    <!--This is a well that is a great spot for a business tagline or phone number for easy access!-->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Step 1</h2>
                <p>Create an account or Login </p>
                <p>Click on the new project nav link on your sidebar</p>
                <p>Answer the questions regarding the project details and what you expect from the project</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Step 2</h2>
                <p>If <strong>Step 1 </strong> was done right you should see the feature question screen</p>
                <p>You should now be able to give your features a title and describe how you see the user using this particular feature</p>
                <p class="text-danger"> To make it easy for our developers , we ask that you describe the feature as if you were the actual person using this feature , describing in the most non-technical manner as possible <br> Let us make it technical</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Step 3</h2>
                <p>Once you are happy with your project details and your five features , you may procceed to pay the 40% deposit amount which unlocks the first two features. <br> You pay online using your credit card , debit card or bitcoins</p>
                <p>Once the payment has been processed you shall be notified and one of our developers shall message you within the app to begin discussing the features further</p>
                <p>Once the two features have been completed , you can then start paying the remaining 3 features off at <strong>R 1000.00 zar</strong> per feature. Till project completion</p>
                <p class="text-danger"> Features are only worked on when you pay the deposit and when you pay for the feature. We don't work on unpaid features</p>
                
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

				</div>
			</div>
        </div>
	</div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="http://www.korujams.herokuapp.com">Korujams</a></li>
                        <!--<li><a href="http://blog.creative-tim.com">Blog</a></li>-->
                        <!--<li><a href="http://www.creative-tim.com/license">Licenses</a></li>-->
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by John Kyony
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Core JS Files -->
<script src="/paper-ui-kit/assets/js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/paper-ui-kit/assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
<script src="/paper-ui-kit/assets/js/popper.js" type="text/javascript"></script>
<script src="/paper-ui-kit/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!-- Switches -->
<script src="/paper-ui-kit/assets/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="/paper-ui-kit/assets/js/nouislider.js"></script>

<!--  Plugins for DateTimePicker -->
<script src="/paper-ui-kit/assets/js/moment.min.js"></script>
<script src="/paper-ui-kit/assets/js/bootstrap-datetimepicker.min.js"></script>

<!--  Paper Kit Initialization and functons -->
<script src="/paper-ui-kit/assets/js/paper-kit.js?v=2.1.0"></script>

</html>
